<style>
  #message_message1 {
      width:100%;
      border:none;
      font-size:50px;
      border-bottom: 3px solid grey;
    }
  textarea:focus, input:focus{
    outline: none;
  }
  input[type="submit"]{
    width:100%;
    margin-top:10px;
    background: #0B93F6;
    height:60px;
    color:white;
    font-size:16px;
    border:none;
  }

  .input-group{
    margin-left:50px;
  }

  i{
    margin-left:50px;
  }

  #message_message2 {
    width:100%;
    border:none;
    font-size:50px;
    border-bottom: 3px solid grey;
  }
    .circlebtn{
      background:rgb(33,178,254);
      width:auto;
      height:70px;
      position: absolute;
      top:100px;
      left:20px;
      border:none;
      box-shadow: 5px 5px 1px rgba(100,100,100,0.3);
      cursor: pointer;
      color:white;
      font-size:17px;

    }


    .edit-message{
      margin-top:50px;
    }
</style>

<button class="circlebtn">
  <p>Back to <strong><%= @story.title %></strong></p>
</button>

<div style="margin-top:100px;" >


      <%= form_for [@story,@message] do |f| %>
          <div class="modal-body">
            <% if @message.message1? && !@message.image? %>
                <%= f.text_field :message1, maxlength: 120,  placeholder: "what will " + @story.texter.titleize + " say?" %>
                <i>Add image</i>
                <%= f.file_field :image %>
                <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

          <% end %>
            <% if @message.message2? && !@message.image2? %>
                <%= f.text_field :message2, maxlength: 120, placeholder: "What will " + @story.reciever.titleize + " say?" %>
                <i>Add image</i>
                <%= f.file_field :image2 %>
                <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

          <% end %>
            <% if @message.image? && @message.message1? %>
                <i>Add an image to this text</i>
                <%= f.file_field :image %>
                <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

          <% end %>

            <% if @message.image2? && @message.message2? %>
            <i>Change image</i>
            <%= f.file_field :image2 %>
                <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

          <% end %>
          </div>

      <% if @message.image2? && !@message.message2?  %>
          <i>Change image</i>
          <%= f.file_field :image2 %>
          <%= f.text_field :message2, maxlength: 120, placeholder: "What will " + @story.reciever.titleize + " say?" %>
          <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

<% end %>

      <% if @message.image? && !@message.message1? %>
          <i>Change image</i>
          <%= f.file_field :image1 %>
          <%= f.text_field :message1, maxlength: 120, placeholder: "What will " + @story.reciever.titleize + " say?" %>
          <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>

<% end %>

      <% if @message.popup? %>
         <%= f.file_field :popup %>
          <%= f.file_field :mp3 %><i>audio files will play completly through choose a sound that is very fast and fits the purpose of the popup  </i>
      <% end %>


      <%= f.submit %>

      <% end %>


</div>


<script>
  $(".circlebtn").click(function(){
      window.location.href = "/stories/<%= @story.id %>" ;
  });

  $(window).keypress(function(e){

  });
  $(":file").filestyle({
      input: false
  })
  $("label[for='message_popup'] > span:eq(1) ").html("Scary Popup image ");
  $("label[for='message_mp3'] > span:eq(1) ").html("Add an mp3 to really scare the reader");

</script>
