
<% content_for :title, "TellAFiction - Revolutionizing Entertainment Read, Watch, & Create Engaging Content " %>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">

<style>
  @charset "UTF-8";
  @import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
  body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(http://t.wallpaperweb.org/wallpaper/3_dimensional/2560x1440/super3dguitar2560x1440wallpaper1996.jpg) center center no-repeat;
    background-size: cover;
    overflow-y: scroll;

  }

    h1 {
      text-align:center;
      font-family: 'Nunito Sans', sans-serif;
      color:white;
      font-size:50px;
      font-weight: 900;
      margin-top:50px;
      opacity: 0;
      transform: translateY(30px);
      animation: move-up 500ms ease-in-out forwards 1 300ms;

    }

    .form-fields{

      opacity: 0;
      transform: translateY(30px);
      animation: move-up 500ms ease-in-out forwards 1 300ms;
    }

    @keyframes move-up {
      0%{
        opacity: 0;
        transform: translateY(30px);
      }
      100%{
        opacity: 1;
        transform: translateY(0px);
      }
    }
    input {
      margin: 0 auto;
      display: block;
      width:350px;
      height:70px;
      margin-top:5px;
      background: white;
      color:black;
      border: none;
      border-radius: .2em;


    }

  button{
    width: 350px;
    height: 50px;
    background: #569eca;
    display: block;
    margin: 0 auto;
    border:none;
    color:white;
    font-weight: 900;
    margin-top:20px;
    margin-bottom: 60px;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
  }

</style>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div style="margin-top:50px; color:white !important;  margin-top: 50px;">
      <%= devise_error_messages! %>

    </div>

    <h1>STORYMI</h1>
    <div class="form-fields">

    <%= f.text_field :firstname, placeholder: "First Name" %>
    <%= f.text_field :lastname, placeholder: "Last Name" %>
    <%= f.email_field :email, placeholder: "Email"  %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "password " %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
    <%= f.button :submit ,  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Getting You All Set Up!"}, class: "btn-btn" %>

    </div>
<% end %>

<%= render 'partials/footer' %>
