<% content_for :title, "#{@article.title} - TellAFiction" %>

<style>
  img {
    filter: blur(10px);
    transition: all 600ms ease-in-out;
  }
    .edit{
      background:rgba(200,200,255,0.3);
      font-size:16px;
      width:100px;
      border-radius:.3em;
      color:black;
      text-align: center;
      cursor: pointer;
      margin-top:130px;
      margin-left: 40px;

    }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    /* For mobile phones: */
    body {
      background: white !important;
    }
  }

  .mobile-brand {
    background: black !important;
    position: absolute;
    left: 0 !important;
  }

    .container{
      margin-top:90px !important;
    }

    .fr-view {
      width:100%;
      word-break: break-all;
    }
    .edit > h1{
      font-weight:lighter !important;
      margin-top:-2px;
    }
</style>
<% if user_signed_in? %>
<% if @article.user.id == current_user.id   %>
      <p class="edit">Continue Editing</p>
    <% if !@article.ispublished?  %>
        <%= link_to  publish_article_path(@article), class:'link-to',  :method => :put , :onclick => 'alertify.alert("Congragulations your story is published "); $(".link-to").fadeOut("slow");' do %>
            <div style="margin-top:70px;" class="edit">
              Publish Story
            </div>

        <% end %>

    <% end %>
<% end %>
    <% end %>
<div class="container">
  <div style="margin-top:70px;" class="fr-view">
    <%= raw @article.body %>
  </div>
  <div id="disqus_thread"></div>

</div>

<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://tellafiction-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>





<script>

    $(document).ready(function(){

        /** ===========================================
         Hide / show the master navigation menu
         ============================================ */

            // console.log('Window Height is: ' + $(window).height());
            // console.log('Document Height is: ' + $(document).height());

        var previousScroll = 0;

        $(window).scroll(function(){

            var currentScroll = $(this).scrollTop();

          /*
           If the current scroll position is greater than 0 (the top) AND the current scroll position is less than the document height minus the window height (the bottom) run the navigation if/else statement.
           */
            if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()){
              /*
               If the current scroll is greater than the previous scroll (i.e we're scrolling down the page), hide the nav.
               */
                if (currentScroll > previousScroll){
                    window.setTimeout(hideNav, 300);
                  /*
                   Else we are scrolling up (i.e the previous scroll is greater than the current scroll), so show the nav.
                   */
                } else {
                    window.setTimeout(showNav, 300);
                }
              /*
               Set the previous scroll value equal to the current scroll.
               */
                previousScroll = currentScroll;
            }

        });

        function hideNav() {
            $("[data-nav-status='toggle']").removeClass("is-visible").addClass("is-hidden");
        }
        function showNav() {
            $("[data-nav-status='toggle']").removeClass("is-hidden").addClass("is-visible");
        }

    });



    $(window).on("load",function(){
        $("img").css("filter","blur(0px)")
        $("iframe").css("filter","blur(0px)")

    });

    $(".edit").click(function(){
        window.location.href = "/articles/<%= @article.id %>/edit"
    });


    $(".story-name").html(" <%= truncate(@article.title,:length => 30) %>  <span class='latt' style='color:grey; font-style:italic;'> <% if @article.ispublished %> <%= pluralize(@article.impressionist_count , "view") %> </span> <% end  %>");
    $(".story-name").addClass("animated fadeInUp")
</script>
<script id="dsq-count-scr" src="//tellafiction-com.disqus.com/count.js" async></script>