<style>
  #video_title{
    width:100%;
    height:40px;
    border: solid 2px black;
  }

</style>
<%= simple_form_for(@video,html:{multipart:true, class:'dropzone', id:'my-dropzone'}) do |f| %>
    <%= f.error_notification %>

    <div class = "dz-message needsclick">
      <h3>Drop files here</h3>
      <strong>Click</strong> to upload
    </div>


    <div class="fallback">
      <%= f.input :mp4 %>
      <%= f.submit "Upload Video" %>
    </div>

    <div>
      <i>Change thumbnail image with a custom image </i>
      <%= f.input :image %>
    </div>


    <div class = "video-details">
      <div class = "form-field">
        <%= f.input :title %>
      </div>

      <div class = "form-field">
        <%= f.input :description %>
      </div>

      <div class = "form-field">
        <%= f.button :submit , class: " btn-success submit ", data: {disable_with: "Editing..."} %>

      </div>
    </div>

<% end %>


<script>

    $(":file").filestyle({
        input: false,
        buttonText: ""
    });
</script>