<%= simple_form_for(@video,html:{multipart:true, class:'dropzone', id:'my-dropzone',autocomplete:"off"}) do |f| %>
  <%= f.error_notification %>
<br>
    <div id = "dropzonePreview" class = "dz-message dz-default needsclick">
      <img style = "width:100px; height:100px;" src = "http://www.freeiconspng.com/uploads/upload-icon-31.png">
      <h3>Drop a video file here </h3>
      <strong>or Click to upload</strong>
    </div><br>


    <div class="fallback">
      <%= f.input :mp4 %>
      <%= f.submit "Upload Video" %>
    </div>


    <div class = "form-field title animated ">
      <%= f.input :title, label:false, placeholder:'Add a dashing title!',:autocomplete => :off%>
    </div>

    <div style = "" class = "form-field description animated ">
      <%= f.text_area :description , label:false, placeholder:'Add a amazing description!',:autocomplete => :off%>
    </div>



    <h1 class = "pods-next videos-next animated">Next</h1>



      <div style = "" class = "form-field submit animated ">
        <span style = "color:white !important; text-align: center !important; margin-left:20px !important;font-size:16px; margin-top:-25px;" class = "text-center">Publish Your Amazing Video!</span>
        <%= f.button :submit, class:'submit-btn btn ' %>
      </div>

<% end %>

<script>
$(".title").hide();
$(".titleNext").hide();
$(".description").hide();
$(".tag-list").hide();
$(".custom-image").hide();
$(".submit").hide();
$(".pods-next").hide();
$(".videos-next").hide();
</script>
