<% content_for :title, "#{@video.title} - TellAFiction" %>

<style>
  p,h1,h2,a{
    color:white;
  }
    body{
      overflow-x:hidden;
    }

    a:hover {
      background:black !important;
    }

    .videos-content{
      margin-top:15px !important;
    }


</style>

<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

<div class = "videos-content">
  <% if @video.mp4? %>

      <video  id="my_video_1" class="video-js vjs-default-skin" width="100%" height="500px"
              preload="auto" autoplay
              data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2, 2.5, 3.0], "controls":"true" }'
               data-setup="{}">
        <source src="<%= @video.mp4.url %>" type='video/mp4'>
        <source src="<%= @video.mp4.url %>" type='video/webm'>
        <source src="<%= @video.mp4.url %>" type='video/ogg'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>


      <div class="container">

      <span style = "font-size:25px; "><img style = "width:50px;height:50px;"src = "https://images.vexels.com/media/users/3/135899/isolated/preview/9d55a1dc7fbba0b7e8873e21b7135626-eye-icon-by-vexels.png"><span style = "font-weight:bold;font-style:italic; color:black !important;"><%= @video.impressionist_count %></span></span>


      <span style = "margin-left:0px; font-size:25px; margin-top:15px;"><%= link_to  like_video_path(@video),class: "like like-btn", method: :put, remote: :true do %>
           <img class = "video-show-heart animated" style = "width:50px;height:50px; margin-top:6px;" src = "https://images.vexels.com/media/users/3/136169/isolated/preview/e42ae42d51ca9b5b6783e408ba8054da-heart-circle-icon-by-vexels.png">
            <span style = "color:black; margin-left:-15px; font-weight:bold; font-style:italic" class = "likes-count"><%= @video.get_upvotes.size  %></span>
      <% end %>
      </span>

      <span style = "font-size:25px;"><%= link_to unlike_video_path(@video),class: "like", method: :put, remote: :true do %>
            <img class = "video-show-broken-heart animated" style = "width:40px;height:40px;" src = "https://cdn1.iconfinder.com/data/icons/rounded-black-basic-ui/139/Heart_Break-RoundedBlack-128.png">
            <span style = "color:black; margin-right:5px !important;padding-right:20px; font-weight:bold; font-style:italic" class = "dislikes-count"><%= @video.get_downvotes.size  %></span>
      <% end %>

        <% if user_signed_in? %>
            <% if current_user.id == @video.user.id %>
          <p style="color:grey;"><a href ="/videos/<%= @video.id %>/edit">Edit</a></p>
        <% end %>
                    <% end %>

      </span>



<% end %>

  <div class = "videoDiv">
    <h1 style = "color:grey;margin-left:20px;" class = "videoTitle"><%= @video.title %></h1>
    <p style = "color:grey;margin-left:20px;">Published on <span style = "font-weight:bold; color:black;"><%= @video.created_at.strftime("%-d/%-m/%y") %>  </span></p>
    <% if @video.user.cover.present? %>
        <a href = "/profile/<%= @video.user.id %>">
          <img style="margin-left: 20px; width:30px !important;  float: left;   left: 0;height:30px !important;  border-radius: 100%;"  src="<%= @video.user.cover.url(:medium) %>" class = "pro" alt="Profile image example"/>
          <%= @video.user.firstname %>

        </a>
    <% else  %>
        <a href = "/profile/<%= @video.user.id %>">
        <img  style="margin-left: 20px;width:30px !important;  left: 0;height:30px !important;  border-radius: 100%;" align="left" src="<%= asset_path 'bg2.jpg' %>" alt="Profile image example"/>
        <%= @video.user.firstname %>
        </a>
    <% end %>
  </div>
    <div><br>
      <div class = "panel">
        <p style = "margin-left:20px; color:grey;font-weight:bold;">Description</p>
    <p style = " color:grey;margin-left:20px;"><%= @video.description %></p>
    </div>

      <div id="disqus_thread"></div>

    </div>
    </div>



<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://tellafiction-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>






<script>




    $(".video-show-heart").one("click",function(){
      $(".video-show-broken-heart").removeClass("bounceIn");
      $(".video-show-heart").addClass("bounceIn");
      alertify.success('<span style = "color:white!important;font-weight:bold;font-size:17px;">You liked this video</span><i style = "margin-left:10px;color:red !important; font-size:17px;" class="fa fa-heart" aria-hidden="true"></i>');
  });

  $(".video-show-broken-heart").one("click",function(){
      $(".video-show-heart").removeClass("bounceIn");
      $(".video-show-broken-heart").addClass("bounceIn");
      alertify.success('<span style = "color:white!important;font-weight:bold;font-size:17px;">You don\'t like this video</span><i style = "margin-left:10px;color:white !important; font-size:17px;" class="fa fa-frown-o" aria-hidden="true"></i>');

  });

</script>











