<% content_for :title, "TellAFiction - Revolutionizing Entertainment. Read, Watch, & Create Engaging Content" %>

<style>

  body{
    overflow-x: hidden;;
  }
  .name {
    transition: all 300ms ease-in-out;
  }

  .nav-item:hover{
    background: none !important;
    color:black !important;
  }






    .pagination{
      width: 50%;
      margin: 0 auto;
      background:rgb(240,240,255);
      font-size:40px;
      width:100%;
      text-align: center;
      color:rgb(80,80,80) !important;
      font-weight:lighter !important;
      position: relative;
      margin-top: 5px;
      margin-left: 8px;
    }
    .current{
      font-style: normal;
      background:rgb(80,80,80);
      color:white;
    }

    .category-link {
      color:white !important;
    }
  .category-title{
    font-size:50px;
    text-align: center;
    margin-top:45px;
    background-size: cover;
    color:white;
    font-weight:bold !important;
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;

  }


  @-webkit-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-moz-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-o-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-ms-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  .godown {
    animation: got 1s ease-in-out forwards 1;
  }
    
    .message-div{
      position: relative;
      width:100%;
      height:300px;
      overflow: hidden;
    }


  video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
  }

  video#bgvid {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

    .story-overlay{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background:rgba(0,0,0,0.3);
      z-index: 999;
    }

    .story-label-overlay{
      color:white !important;
      font-size:65px !important;
      text-align: center;
      margin-top:95px;
      font-weight: 100 !important;

    }
    .loader{
      position: fixed;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      z-index: 999999999999999;
      margin: 0;
      padding: 0;
      overflow: hidden;
      filter: sepia(75%);
      background: url(https://s-media-cache-ak0.pinimg.com/originals/5c/e3/c0/5ce3c05aa526c00fd27c1c962b8573f5.gif) center center;
      background-size: 100% 100%;


    }

    .messages-overlay{
      position: absolute;
      top:170%;
      left:0;
      width:100%;
      height:30%;
      background: linear-gradient(rgba(0,0,0,0.1), rgb(20,20,20));
      transition: all 500ms ease-in-out;
    }

    figure{
      overflow: hidden !important;
    }
    
    figure:hover .messages-overlay {
      top:70%;
      left:0;
    }

    .imgimg{
      min-width:100% !important;
      min-height: 250px !important;
      height: auto !important;
    }
    figure{
      min-width: 100% !important;
    }

    .mes-title{
      color:white !important;
      font-size:17px;
      float: left;
    }
    .mes-des{
      font-size:15px;
      color:white;
      float: left;
      margin-left: 20px;
    }

    .sign-up-message{
      position: fixed;
      top: 14%;
      left:65%;
      width:400px;
      height:300px;
      background:url("http://cdn.emptykingdom.com/wp-content/uploads/2012/01/2_e_unt6-2012-01-17.jpg") center center no-repeat;
      background-position: -100px -100px;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
      border-radius:.3em;
      overflow: hidden;

    }



    .sign-up-message::before {
      border-bottom: 29px solid #ff73b3;
      border-right: 29px solid rgba(0, 0, 0, 0);
      position: absolute;
      bottom: 0px;
      right: -15px;
      content: "";
    }

    .sign-up-message > h5{
      color:white;
      font-size: 25px;
      margin-top:70px;
      line-height:40px;
      width:80%;
      margin-left:10%;
      text-align: center;
      font-weight:300;


    }
    
    .fa-times-circle{
      position: absolute;
      top:10px;
      left:85%;

    }

    .sin-up{
      background: #02b875;
      color:white;
      border-radius:.4em;
      width:0px;
      transform:translateY(-40px) !important;
      font-size:34px;
      text-align: center;
    }


  .five {
    overflow: hidden;
    color: white;
    position: relative;
    width:200px;
    height:50px;
    background:#02b875;
    border-radius: .3em;
    border:none;
    margin: 0 auto;
    margin-top:10px;
  }
  .five .layer {
    color: #fff;
    position: absolute;
    top: -70px;
    width: 100%;
    left: 0;
    padding: 20px 0;
    background-color: #F44336;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
  .five:hover .layer {
    top: 0;
  }





</style>


<div class="loader">

</div>


<div class="message-div">


  <video  playsinline autoplay muted loop poster="polina.jpg" id="bgvid">
    <source src="/assets/abc.mp4" type="video/mp4">
  </video>
  <div class="story-overlay">
    <h1 style="animation-delay: 1.3s" class="story-label-overlay animated ">Revolutionizing Story Telling</h1>

    <% if !user_signed_in? %>
    <div style="text-align: center;" class="sign-up-message animated ">
      <i style="color: white; cursor: pointer;font-size:40px;" class="fa fa-times-circle" aria-hidden="true"></i>

      <h5 class="messs animated bouceIn"><%= "Sign Up Today & let your imagination go crazy!".titlecase %></h5>
      <button class='myButt five'>
        <div style="margin-top:-5px;" class='layer'>Lets Do This!</div>
        Sign Up!
      </button>
    </div>
    <% end %>
  </div>
</div>
  <h1  style="text-align: center; color:black; margin-top:50px; font-size:20px !important;  font-weight:lighter;">Message Stories</h1>




<div class="figuration animated" style="margin-top:30px; word-break: break-all;"  id="columns">
  <% @stories.each_with_index do |story, i| %>

      <% if story.ispublished? %>
  <figure style="animation-delay: <%= i * 0.05 %>s" class="animated ">
    <% if story.cover? %>
    <img class="imgimg" src="<%= story.cover.url(:medium) %>">
        <% else %>

        <%= image_tag 'black.jpg' %>

        <% end %>
        <div  class="overlay">
          <div class="messages-overlay">
            <h1 class="mes-des"><%= story.synopsis %></h1>
          </div>

          <a href = "/stories/<%= story.id %>/view">
            <div class="overlay gold">
<% if i == 0 %>
              <img class="gold-img"  style="width:50px;height:50px; margin-left:42%; margin-top:5px;  " src = "/assets/badge-simple-flat.png">
            <% end %>
                  </div>
          </a>


          <a href = "/stories/<%= story.id %>"><h1 class="view-count" style="position: absolute;background:black;top:5px;left:20px; font-size:15px; word-break: break-all;color:white;"><% if story.ispublished %> <%= pluralize(story.impressionist_count, "view") %> <% end %></h1></a>
          <h1 class="index-title" style="position: absolute;background:black;top:34px; font-size:25px;left:20px; word-break: break-all;color:white;"><%= truncate(story.title.titlecase ,length:25) %></h1>



          <a class="" href ="/profile/<%= story.user.id %>"><h1 class="name" style="position: absolute;top:90px;  padding-right:100px; font-size:15px;  left:20px; word-break: break-all;color:white;"><%= story.user.firstname.titlecase %>
            <% if story.user.cover.present? %>
                <img class="mobile-profile" style="width:30px !important; float: left;   left: 0;height:30px !important;  border-radius: 100%;"  src="<%= story.user.cover.url(:medium) %>" alt="Profile image example"/>
            <% else  %>
                <img class="mobile-profile"  style="width:30px !important; float: left;   left: 0;height:30px !important;  border-radius: 100%;" align="left" src="<%= asset_path 'bg2.jpg' %>" alt="Profile image example"/>
            <% end %>
          </h1></a>


          <% if story.category.present?  %>
              <h1 class="name category "  style="position: absolute;top:100px; font-size:20px; font-style: italic;  left:210px; word-break: break-all;color:white;"><%= link_to story.category.name, "/category/#{story.category.id}", class:'category-link' %></h1>
          <% end %>
        </div>
  </figure>


<% end %>

      <% end %>

</div>
<audio  class="audio d">
  <source  src="/assets/pop.mp3" type="audio/mpeg">
</audio>

<script>

  $(".layer").click(function(){
      window.location.href = "/users/sign_up";
  });

  $(".sign-up-message").hide();
  $(".fa-times-circle").click(function(){
     $(".sign-up-message").addClass("zoomOut");
  });

  $(window).load(function(){


      <% if !user_signed_in? %>
      setTimeout(function(){
          $(".d").trigger('play');
      },1300);
      <% end %>
      setTimeout(function(){
          $(".sign-up-message").show().addClass("pulse")
      },2000);

      $("body").css("overflow","auto");
      $(".loader").fadeOut("slow");
     $(".story-label-overlay").addClass("fadeInUp");
     $(".figuration").addClass("fadeInUp")

  });

</script>


<%= will_paginate @stories %>
