<% content_for :title, "TellAFiction - Revolutionizing Entertainment. Read, Watch, & Create Engaging Content" %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.2/infinite-scroll.pkgd.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

<style>

  body{
    overflow-x: hidden;;
  }

  .grid {
    width:100%;
  }

  /* reveal grid after images loaded */
  .grid.are-images-unloaded {
    opacity: 0;
  }

  .grid__item,
  .grid__col-sizer {
    width: 32%;
  }

  .grid__gutter-sizer { width: 2%; }

  /* hide by default */
  .grid.are-images-unloaded .image-grid__item {
    opacity: 0;
  }

  .grid__item {
    margin-bottom: 20px;
    float: left;
  }

  .grid__item--height1 { height: 140px; background: #EA0; }
  .grid__item--height2 { height: 220px; background: #C25; }
  .grid__item--height3 { min-height: 300px; height:auto; background: rgb(51,51,51); }

  .grid__item--width2 { width: 66%; }

  .grid__item img {
    display: block;
    max-width: 100%;
  }


  .page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
  }

  .all-articles {
    text-align:center;
    font-size:50px;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: show 400ms ease-in-out forwards;
  }

  @keyframes show {
    0%{
      transform: translateY(60px);
      opacity:0;
    }
    100%{
      transform: translateY(0px);
      opacity:1;
    }
  }

  .grid__item--height3 h1 {
    font-size:17px;
    margin-left:15px;
  }

  .grid__item--height3 img {
    width: 100%;
    height: auto;
  }

  .all-articles {
    color:white;
  }

  .grid__item--height3 a {
    color:white;
  }
  /* loader ellips in separate pen CSS */

    body {
      background:black;
      letter-spacing:1px;
      font-weight: 900 !important;
      font-size:12px;
      font-family: Helvetica, sans-serif;
    }

    .stories-link {
      border-bottom: 2px solid rgba(255,255,255,0.7);
    }





</style>





<div class="grid are-images-unloaded">
  <div class="grid__col-sizer"></div>
  <div class="grid__gutter-sizer"></div>
  <div  class="grid__item grid__item--width2">
    <img src="https://i.ytimg.com/vi/6OKSxE7JCws/maxresdefault.jpg" alt="orange tree" />
  </div>

  <% @stories.each do |article| %>
      <div class="grid__item grid__item--height3">
        <a href="/articles/<%= article.id %>">
          <img src="<%= article.cover.url(:medium) %>"/>
        </a>
        <% if !article.cover? %>
            <a href="/stories/<%= article.id %>/view">
              <h1 style="font-size:40px;"><%= article.title.truncate_words(6) %></h1>
            </a>
        <% else %>
            <a href="/articles/<%= article.id %>">

              <h1><%= article.title %></h1>
            </a>
        <% end %>
        <a href="/user/<%= article.user.id %>">
          <h1 class="parallax-scroll"><span>By <%= article.user.firstname %> <%= article.created_at.strftime('%B/%d/%Y') %></span></h1>
        </a>
      </div>
  <% end %>


  <div class="grid__item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look out" />
  </div>



</div>

<div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<%= render 'partials/footer' %>


<script>

  $(".footer-instructions").html("Hey <%= current_user.firstname %> enjoy these amazing stories!");

  $(".layer").click(function(){
      window.location.href = "/users/sign_up";
  });

  $(".sign-up-message").hide();
  $(".fa-times-circle").click(function(){
     $(".sign-up-message").addClass("zoomOut");
  });

  $(window).load(function(){


      <% if !user_signed_in? %>
      setTimeout(function(){
          $(".d").trigger('play');
      },1300);
      <% end %>
      setTimeout(function(){
          $(".sign-up-message").show().addClass("pulse")
      },2000);

      $("body").css("overflow","auto");
      $(".loader").fadeOut("slow");
     $(".story-label-overlay").addClass("fadeInUp");
     $(".figuration").addClass("fadeInUp")

  });

</script>

<script>
    //
    //-------------------------------------//

    $(document).on("turbolinks:load")
    {
        // init Masonry
        $('.grid').masonry('reload');

        var $grid = $('.grid').masonry({
            itemSelector: 'none', // select none at first
            columnWidth: '.grid__col-sizer',
            gutter: '.grid__gutter-sizer',
            percentPosition: true,
            stagger: 30,
            // nicer reveal transition
            visibleStyle: {transform: 'translateY(0)', opacity: 1},
            hiddenStyle: {transform: 'translateY(100px)', opacity: 0},
        });

        // get Masonry instance
        var msnry = $grid.data('masonry');

        // initial items reveal
        $grid.imagesLoaded(function () {
            $grid.removeClass('are-images-unloaded');
            $grid.masonry('option', {itemSelector: '.grid__item'});
            var $items = $grid.find('.grid__item');
            $grid.masonry('appended', $items);
        });

        //-------------------------------------//
        // hack CodePen to load pens as pages

        var nextPenSlugs = [
            '202252c2f5f192688dada252913ccf13',
            'a308f05af22690139e9a2bc655bfe3ee',
            '6c9ff23039157ee37b3ab982245eef28',
        ];

        function getPenPath() {
            var slug = nextPenSlugs[this.loadCount];
            if (slug) {
                return 'modernfitness.herokuapp.com' + slug;
            }
        }
    }


    //-------------------------------------//
    // init Infinte Scroll





</script>


<%= will_paginate @stories %>
