
<style>

  .name {
    transition: all 300ms ease-in-out;
  }

  .nav-item:hover{
    background: none !important;
    color:black !important;
  }






    .pagination{
      width: 50%;
      margin: 0 auto;
      background:rgb(240,240,255);
      font-size:40px;
      width:100%;
      text-align: center;
      color:rgb(80,80,80) !important;
      font-weight:lighter !important;
      position: relative;
      margin-top: 5px;
      margin-left: 8px;
    }
    .current{
      font-style: normal;
      background:rgb(80,80,80);
      color:white;
    }

    .category-link {
      color:white !important;
    }
  .category-title{
    font-size:50px;
    text-align: center;
    margin-top:45px;
    background-size: cover;
    color:white;
    background: url(http://www.mobile-aflak.ir/wp-content/uploads/2016/01/8777684-Seamless-Pattern-made-with-Mobile-Devices-on-Black-Background-Stock-Vector.jpg);
    font-weight:bold !important;
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;

  }


  @-webkit-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-moz-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-o-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @-ms-keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }

  @keyframes scroll{
    100%{
      background-position:0px -3000px;
    }
  }





</style>
<h1 style="text-align: center; color:black; margin-top:50px; font-weight:lighter;">Message Stories</h1>

<div style="margin-top:30px; word-break: break-all;" id="columns">
  <% @stories.each do |story| %>

      <% if story.ispublished? %>
  <figure>
    <% if story.cover? %>
    <img src="<%= story.cover.url(:medium) %>">
        <% else %>

        <img src="http://www.peterfuda.com/wp-content/uploads/2014/11/Story-Image-e1415228963753.jpg">

        <% end %>
        <div class="overlay">

          <a href = "/stories/<%= story.id %>/view">
            <div class="overlay">

            </div>
          </a>


          <a href = "/stories/<%= story.id %>"><h1 class="view-count" style="position: absolute;background:black;top:5px;left:20px; font-size:15px; word-break: break-all;color:white;"><% if story.ispublished %> <%= pluralize(story.impressionist_count(:filter=>:session_hash), "view") %> <% end %></h1></a>
          <h1 class="index-title" style="position: absolute;background:black;top:34px; font-size:25px;left:20px; word-break: break-all;color:white;"><%= truncate(story.title.titlecase ,length:25) %></h1>



          <a class="" href ="/profile/<%= story.user.id %>"><h1 class="name" style="position: absolute;top:90px;  padding-right:100px; font-size:15px;  left:20px; word-break: break-all;color:white;"><%= story.user.firstname.titlecase %>
            <% if story.user.avatar.present? %>
                <img  src="<%= story.avatar.url(:medium) %>" alt="Profile image example"/>
            <% else  %>
                <img  style="width:30px !important; float: left;   left: 0;height:30px !important;  border-radius: 100%;" align="left" src="<%= asset_path 'bg2.jpg' %>" alt="Profile image example"/>
            <% end %>
          </h1></a>


          <% if story.category.present?  %>
              <h1 class="name category "  style="position: absolute;top:100px; font-size:20px; font-style: italic;  left:210px; word-break: break-all;color:white;"><%= link_to story.category.name, "/category/#{story.category.id}", class:'category-link' %></h1>
          <% end %>
        </div>
  </figure>


<% end %>

      <% end %>

</div>


<%= will_paginate @stories %>
