
<style>
  .fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
    height:auto !important;
    max-height: 600px !important;
  }

  .fb-image-profile
  {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
  }

  @media (max-width:768px)
  {

    .fb-profile-text>h1{
      font-weight: 700;
      font-size:16px;
    }

    .fb-image-profile
    {
      margin: -45px 10px 0px 25px;
      z-index: 9;
      width: 20%;
    }
  }

  .edit-action{
    transition: all 200ms ease-in-out;
  }
    .edit-action:hover{
      background:#0B93F6 !important;
      cursor: pointer;
    }

    .link-to{
      color:white !important;
      transition: all 300ms ease-in-out
    }

    .link-to:hover{
      background:#0B93F6;
    }
</style>


<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <div class="fb-profile">
    <% if @user.avatar? %>
    <img align="left" class="fb-image-lg" src="<%= @user.avatar.url(:medium) %>" alt="Profile image example"/>
    <% else  %>
        <img class="mobile-bg" style="width:100%;height:500px;" align="left" src="<%= asset_path 'bg2.jpg' %>" alt="Profile image example"/>

  <% end %>
     <% if @user.cover? %>
     <img align="left" class="fb-image-profile thumbnail" src="<%= @user.cover.url(:medium) %>" alt="Profile image example"/>
    <% else %>
        <img align="left" class="fb-image-profile thumbnail" src="http://sem.yildiz.edu.tr/img/avatar.png" alt="Profile image example"/>

  <% end %>
    <div class="container mobile-container">

    <div   class="fb-profile-text">
      <h1><%= @user.firstname.titlecase + " " + @user.lastname.titlecase %></h1>
      <h1 style="color:grey; font-style:italic;">  <%= pluralize(@views , "total view" ) %></h1>

      <div style="margin-top:85px;" id="columns">
<% if @user.stories.exists? %>
        <% @user.stories.each do |story| %>
            <a href = "/stories/<%= story.id %>/view" >

              <figure>
                <% if story.cover? %>
                <img src="<%= story.cover.url(:medium) %>">
                <% else %>

                <img src="http://www.peterfuda.com/wp-content/uploads/2014/11/Story-Image-e1415228963753.jpg">

                <% end %>
                <div class="overlay"></div>
                <h1 style="position: absolute;background:black;top:45px;left:20px; font-size:25px; word-break: break-all;color:white;"><%= truncate(story.title.titlecase,length:20) %></h1>
                <% if current_user.id == @user.id %>

              <a href ="/stories/<%= story.id %>"><h1 class="edit-action" style="position: absolute;background:black;top:5px; font-size:16px;left:20px; word-break: break-all;color:white;">Edit</h1></a>
               <% end %>
                <% if !story.ispublished %>
                <a href ="/stories/<%= story.id %>"><h1 style="position: absolute;background:black;top:5px; color:#e74c3c; font-size:16px;left:140px; word-break: break-all;">Not Yet Published</h1></a>
                <% end %>
                <h1 style="position: absolute;background:black;top:90px; font-size:20px;  left:20px; word-break: break-all;color:white;"><%= story.user.firstname.titlecase %></h1>

                <h1 class="view-counter" style="position: absolute;background:black;top:130px;left:20px; font-size:15px; word-break: break-all;color:white;"><% if story.ispublished %> <%= pluralize(story.impressionist_count(:filter=>:session_hash), "view") %> <% end %></h1>


                <% if current_user.id == @user.id %>
                <h1 style="position: absolute;background:black;top:5px; font-size:16px;  left:60px; word-break: break-all;color:white;"><%= link_to 'Delete ',  story ,  method: :delete, class:"link-to",  data: { confirm: 'Are you sure?' } %></h1>
                <% end %>
              </figure>
            </a>



        <% end %>

            <% else %>
          <h1>No Stories </h1>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- /container -->

<script>



</script>