
<% content_for :title, "New Story: #{@story.title} - TellAFiction"  %>

<style>
  body{
    font-family: "Helvetica Neue";
    font-weight: normal;
    overflow-x: hidden;
    background-size: 100% 100%;
  }

  .ajs-success {
    background:black;
  }
  .ajs-message{
    background:black;
  }

  a{
    text-decoration: none;
    color:black;
  }

  .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px;
  }
  .site-footer {
  }
  .bg {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
  }



  .form-div{
    position: fixed;
    top:85%;
    left:0%;
    height:15%;
    background:rgba(225,225,255,0.6);
    width:100%;
  }

    #message_message1{
      background:rgba(0,0,0,0.5);
      border-radius:1em;
      border: none;
      background:white;
      width:20%;
      height:50px;
      transform:translateX(10px);
      margin-top:20px;
      margin-left:50px;
    }

    .input-group{
      background:red !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: grey;
      font-size:15px;
      transform:translateX(20px)
    }

    #message_message2{
      background:rgba(0,0,0,0.5);
      border-radius:1em;
      border: none;
      background:white;
      height:50px;
      width:20%;
      margin-left:10px;
      margin-top:20px;

    }


    input[type="submit"]{
      margin-top:35px;
      margin-right: 0px;
      display: inline-block;
      border:none;
      background: #0B93F6;
      color:white;
      border-radius:.2em;
      height:30px;
      margin-left:30px;

    }

    .view-btn{
      margin-left: 80px;
      margin-top: 24px;
    }



  .boostrap-filestyle {
    margin-top: -400px;
    position: absolute;
    top:-150%;
    left:560px;
    height:50px;
    background:red;
  }

  .input-group {
    margin-top: -100px;
    display: inline;
    position: relative;
    background:red;
  }

  .input-group:first-child{
    position: absolute;
    top:0;
    left:0;
  }


    .ajs-warning{
      background:black !important;
    }
  textarea:focus, input:focus{
    outline: none;
  }

    input[type="text"] {
      font-size: 20px;
    }

    .d{
      height:50px;
      width:50px;
    }


  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }

    .overlay{
      position: fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:red;
      z-index:9999;
    }

    .link-to{
      position: fixed;
      top: 50%;
      left: 44%;
      font-size:35px;
      color:white !important;
      background:black;
    }
    .number{
      background:black;
      color:white !important;
    }

    .image_inputs{
      position: absolute;
      top:-10px;
      left:46%;

    }

    #message_message1{
          transition: opacity 100ms ease-in-out;
        }
  #message_message2{
    transition: opacity 100ms ease-in-out;
  }

    .btn-success {
      border-radius: .2em;
      border:none;
      height:40px;
    }


    .scarypopup{
      width:50%;
      height:auto;
      position: relative;
      border: 25px solid lavender;
      max-height:200px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      border-radius: 2em;

    }

    .choices-container{
    width:50%;
    height:auto;
    position: relative;
    border: 25px solid lavender;
    max-height:200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 2em;
    }

    .popup-img{
      width: 100%;
      max-height:200px;

    }

    .popup-message{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      background:rgba(0,0,0,0.4);
    }


    .view-btn{
      font-size: 15px !important;
      transform: translateX(-50px);
    }

    .x{
      font-size:20px;
      color:white !important;
      margin-left:10px;
    }


    #message_first_choice {
      width:30px;
    }
  #message_second_choice {
    width:30px;
  }


    .a{
      margin-left: 100px;
    }

    .d {
margin-left:-100px;
    }



    .choice-form{
      position: fixed;
      top:50px;
      left:0;
      width:100%;
      height:100%;
      background:#0B93F6;
    }

    .choice-container{
      overflow: hidden;
    }

    .choice-img1{
      width:100%;
      height:100%;
    }
  .choice-img2{
    width:100%;
    height:400px!important;
  }

    .choice-container{
      background:Red !important;
    }

    .choices-overlay{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.4);

    }

    .succesful-choice:hover{
      color: black;
    }

    .show-form{
      top:100px !important;
      left:50px !important;
      border:none;
      border-radius: .3em;
      background: #e74c3c !important;
      font-size:14px;
      width:100px !important;
    }

    .choice-form-inside{
      margin-top:50px;
      margin-left:50px;
    }

    #message_first_choice{
      width:40%;

    }
  #message_second_choice{
    width:40%;

  }

    #message_end_message{
      width:40%;
      color:black !important;
    }

    .event-deleter{
      color:white !important;
      margin-left:-30px;
      position: absolute;
    }

    .event-deleter:hover{
      color:white !important;
    }

</style>



<% if current_user.id == @story.user.id %>

<div style="
  <% if @story.image? %>
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.65) 100%), url(<%= @story.image.url(:large) %>) no-repeat center center;
      background-size: 100% 100%;
  <% end %>

" class="bg">

  <div class="video-bg">
    <% if @story.video? %>
        <video  id="bgvid" playsinline autoplay muted loop>
          <source src="<%= @story.video %>" type="video/mp4">
        </video>
    <% end %>
  </div>


</div>
<div data-behavior="messages" class = "scroller">
  <% @messages.each_with_index do |message, i| %>

      <% if message.mp3? %>
      <audio style="margin-left:20px !important;" controls>
        <source src="<%=  message.mp3 %>" type="audio/ogg">
        <source src="<%=  message.mp3 %>" type="audio/mpeg">
        <source src="<%=  message.mp3 %>" type="audio/mpeg">

      </audio>





<% end %>
      <% if message.popup.present? %>
      <div class="scarypopup animated">
        <%= image_tag message.popup.url(:large), class: 'popup-img' %>
        <div class="popup-message">
          <%= link_to "../stories/#{@story.id}/messages/#{message.id}/edit" do %>

        <h1 style="color:white; font-weight: lighter; font-family: Helvetica; font-size: 20px;  text-align: center; margin-top:40px;">Scary Popup Click here to add sound</h1>
<% end %>
          <%= link_to "X"  , story_message_path(@story, message) , method: :delete, data: { confirm: 'Are you sure you want to delete?' } , class:'x' %>

        </div>
      </div>
          <% end %>






      <div class="message-container">
      <% if message.message1? || message.image?  %>
            <%= link_to "../stories/#{@story.id}/messages/#{message.id}/edit" do %>
          <div style="word-break:break-all;margin-top:5px;"  class="animated from-them message1 texter<%= i %>">
            <p class="message-big"><span><strong><%= @story.texter.titleize %> : <% if message.image? %> Sent an image <br> <% end %> </strong></span><%= message.message1 %></p><br>
            <%= link_to  story_message_path(@story, message) , method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
                <i style=" cursor: pointer;color:red; font-size:27px;" class="fa fa-times" aria-hidden="true"></i>
                <% if message.image? %>
                    <%= image_tag message.image.url(:medium) %>
                <% end %>
            <% end %>

          </div>
                <% end %>


      <% end %>


      <% if message.message2? || message.image2?  %>
            <%= link_to "../stories/#{@story.id}/messages/#{message.id}/edit" do %>

      <div style="word-break:break-all;margin-top:5px;" class="animated  from-me message2 texter<%= i %> reciever<%= i %> ">
            <p class="message-big"> <span><strong><%= @story.reciever.titleize %> : <% if message.image2? %> Sent an image <br> <% end %> </strong></span><%= message.message2 %></p><br>
        <%= link_to story_message_path(@story, message) , method: :delete, data: { confirm: 'Are you sure you want to delete?' } do %>
        <i style=" cursor: pointer;color:black; font-size:27px;" class="fa fa-times" aria-hidden="true"></i>
            <% if message.image2? %>
                <%= image_tag message.image2.url(:medium) %>
            <% end %>
        <% end %>
      </div>
<% end %>

      <% end %>
      </div>

<%if message.first_choice.present? %>
<div>
      <% if !message.is_correct? && !message.is_correct2? %>
        <h1 class="go-away-message" style="text-align:center;">Choose Which Leads To Success <span style="font-size:12px;">By Default Both Will Be Losing Choices</span> </h1>
      <% end %>

      <% if message.first_choice.present? %>

      <div style="margin-top: 10px;position: relative; float:left;

          <% if message.choice_img1.present? %>
          background:url('<%= message.choice_img1.url(:large) %>');
          <% else %>
          background: darkred;
          <% end %>

          width:50%;height:300px;">
        <div  style="
            <% if message.is_correct? && !message.is_correct2? %>
        background:rgba(0,200,0,0.3);"
            <% end %>

             class="choices-overlay greeny">

          <h1 style="color:white; margin-left:20px;"><%= message.first_choice %></h1>
          <% if !message.is_correct? && !message.is_correct2? %>
        <%= link_to  "/stories/#{@story.id}/messages/#{message.id}/is_correct",   :method => :put , :onclick => 'alertify.alert("You set this choice as the correct route!"); $(".succesful-choice").fadeOut("slow");' do %>
              <h1 class="succesful-choice" style="margin-left:20px; border-radius:.3em;font-size:30px;"><span style="background: white; border-radius:.4em;">This Choice Leads To Success</span></h1>
          <% end %>
              <% end %>
        </div>

      </div>
      <% end %>
      <% if message.second_choice.present? %>
      <div style="margin-top: 10px;position: relative; float: left;
          <% if message.choice_img2.present? %>
          background:url('<%= message.choice_img2.url(:large) %>');
          <% else %>
          background: black;
          <% end %>
          width:50%; height:300px;">

        <div style="
            <% if message.is_correct2? && !message.is_correct? %>
        background:rgba(0,200,0,0.4);
            <% end %>

        " class="choices-overlay greeny2">
          <h1 class="event-deleter"><%= link_to "X"  ,  story_message_path(@story, message) , class: 'event-deleter', method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>

            <h1 style="color:white; margin-left:20px;"><%= message.second_choice %></h1>

          <% if !message.is_correct2? && !message.is_correct? %>
          <%= link_to  "/stories/#{@story.id}/messages/#{message.id}/is_correct2",   :method => :put , :onclick => 'alertify.alert("You set this choice as the correct route!"); $(".succesful-choice").fadeOut("slow"); $(".go-away-message").fadeOut("slow"); ' do %>
              <h1 class="succesful-choice" style="margin-left:20px; border-radius:.3em;font-size:30px;"><span style="background: white; border-radius:.4em;">This Choice Leads To Success</span></h1>
          <% end %>
              <% end %>

        </div>
      </div>
      </div>
          <% end %>
<% end %>
</div>

      <div class="clear"></div>


      </section>
      </div>





  <% end %>



  <footer class="site-footer">
    <a class="edit-story" style="background:black;" href= "/stories/<%= @story.id %>/edit"><h1 class="edit-story-details" style="position: fixed; color:white; top:78%;left:5%;cursor:pointer; z-index:999;font-size:15px;background:black;">Edit Story Details</h1></a>

    <h1 class="number" style="position: fixed; top: 35%; left: 45%; font-size:35px;color:grey;"></h1>

    <% if !@story.ispublished? %>

  <%= link_to  publish_story_path(@story), class:'link-to',  :method => :put , :onclick => 'alertify.alert("Congragulations your story is published "); $(".link-to").fadeOut("slow");' do %>
      <h1 style="font-size:14px !important;">Publish</h1>

    <% end %>

        <% end %>
  </footer>



  <script>


      $(".texter0").css("margin-top","100px");
      $(".reciever0").css("margin-top","100px");

  </script>



  <%= form_for [@story, Message.new]  do |f| %>

<div class="form-div">
    <%= f.text_field :message1, class:'mes1',  maxlength: 260,  placeholder: "what will " + @story.texter.titleize + " say?" %>
    <%= f.text_field :message2, class:'mes2', maxlength: 260, placeholder: "What will " + @story.reciever.titleize + " say?" %>

      <%= f.file_field :image, class:'img1' %>

      <%= f.file_field :image2 %>


<button class="show-form" style="position: fixed;top:200px;left:200px;width:40px;height:20px;background:blue; color:white !important;" type="button">Add A Choice!</button>

    <%= f.file_field :popup %>


  <div class="choice-form">

    <div class="choice-form-inside">
      <%= f.text_field :first_choice, placeholder: 'Choice 1' %>
      <%= f.text_field :second_choice , placeholder: 'Choice 2'%><br>
      <h1 style="font-size:18px; color:white!important;">Add An image to appear for choice 1  <%= f.file_field :choice_img1 %></h1>
      <h1 style="font-size:18px; color:white!important;">Add An image to appear for choice 2  <%= f.file_field :choice_img2 %></h1>
      <h1 style="font-size:18px; color:white!important;">Add A Popup Image If The Reader Is Wrong  <%= f.file_field :choice_popup %></h1>
      <h1 style="font-size:18px; color:white!important;">Add Audio To Play With The PopUp  <%= f.file_field :popup_audio %></h1>

      <h1 style="font-size:18px; color:white!important;">Losing Message <%= f.text_field :end_message %> </h1>

      <h1 style="font-size:18px; color:white!important;">Nevermind I Change My Mind  <button style="color:white !important;font-size:20px !important; background: lightgreen !important;" class="hide-form show-form" type="button">Hide</button></h1>


    <%= f.button "Send Choices" , class: " btn-success ", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."} %>
    </div>
  </div>


    <%= f.button "Send message" , class: " btn-success ", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."} %>
    <button type="button" class="view-btn" style="background: white; border:none; font-size:30px; cursor: pointer; border-radius: .5em;">Preview</button>

  </div>

</div>



<% end %>

<script>



      $(".choice-form").hide();



      $(".show-form").click(function(){
         $(".choice-form").show();
      });

      $(".hide-form").click(function(){
         $(".choice-form").hide();
      });


    $(":file").filestyle({
        input: false,
        buttonText: ""
    });



    $("#message_image").change(function(){

      if( $("#message_image").val().length > 0){
          $("label[for='message_image2']").css({
              "pointer-events": "none",
              "opacity" : "0.3"
          });
          $("#message_message2").css({
              "pointer-events":"none",
              "opacity": "0.3"
          });
      }
      else if($("#message_image").val().length == 0 && $("#message_message").val().length == 0 ) {
          $("label[for='message_image2']").css({
              "pointer-events": "auto",
              "opacity" : "1"
          });
          $("#message_message2").css({
              "pointer-events":"auto",
              "opacity": "1"
          });
      }
  });


    $("#message_popup").change(function(){

        if( $("#message_popup").val().length > 0){
            $("label[for='message_image2']").css({
                "pointer-events": "none",
                "opacity" : "0.3"
            });
            $("#message_message2").css({
                "pointer-events":"none",
                "opacity": "0.3"
            });
            $("label[for='message_image']").css({
                "pointer-events": "none",
                "opacity" : "0.3"
            });
            $("#message_message1").css({
                "pointer-events":"none",
                "opacity": "0.3"
            });
        }
        else if($("#message_popup").val().length == 0 ) {
            $("label[for='message_image2']").css({
                "pointer-events": "auto",
                "opacity" : "1"
            });
            $("#message_message2").css({
                "pointer-events":"auto",
                "opacity": "1"
            });
            $("label[for='message_image']").css({
                "pointer-events": "auto",
                "opacity" : "1"
            });
            $("#message_message1").css({
                "pointer-events":"auto",
                "opacity": "1"
            });
        }
    });



    $("label[for='message_popup'] > span:eq(1) ").html("Image Popup");

    $("label[for='message_image2'] > span:eq(1) ").html("Image As Blue");

    $("label[for='message_image'] > span:eq(1) ").html("Image As White ");

      $("#message_image2").change(function(){

      if( $("#message_image2").val().length > 0){
          $(".input-group label:first").css({
              "pointer-events":"none",
              "opacity" : "0.3"
          });
          $("#message_message1").css({
              "pointer-events":"none",
              "opacity": "0.3"
          });
      } else if($("#message_image2").val().length == 0 && $("#message_message2").val().length == 0 ) {
          $(".input-group label:first").css({
              "pointer-events":"auto",
              "opacity" : "1"
          });
          $("#message_message1").css({
              "pointer-events":"auto",
              "opacity": "1"
          });

      }
  });

    $("#message_message1").keyup(function(){

        if ($("#message_message1").val().length > 0){
            $("#message_message2").css({
                "pointer-events":"none",
                "opacity": "0.3"
            });
            $("label[for='message_image2']").css({
                "pointer-events": "none",
                "opacity" : "0.5"
            });
        } else if(!$("#message_message1").val().length > 0 && $("#message_image").val().length == 0) {
            $("#message_message2").css({
                "pointer-events":"auto",
                "opacity": "1"
            });
            $("label[for='message_image2']").css({
                "pointer-events": "auto",
                "opacity" : "1"
            });
        }
    });

    $("#message_message2").keyup(function(){

        if ($("#message_message2").val().length > 0){
            $("#message_message1").css({
                "pointer-events":"none",
                "opacity": "0.3"
            });
            $(".input-group label:first").css({
                "pointer-events":"none",
                "opacity" : "0.3"
            });
        } else if(!$("#message_message2").val().length > 0 && $("#message_image2").val().length == 0) {
            $("#message_message1").css({
                "pointer-events":"auto",
                "opacity": "1"
            });
            $(".input-group label:first").css({
                "pointer-events":"auto",
                "opacity" : "1"
            });
        }
    });





    $(".story-name").html("<%= @story.title %>");


    window.scrollTo(0,document.body.scrollHeight);
    var all = document.getElementsByClassName("from-them").length + document.getElementsByClassName("from-me").length;
  console.log(all);

    if(all > 102){
      $("#message_message1").css({
          "pointer-events":"none",
          "opacity": "0.1"
      });
        $("#message_message2").css({
            "pointer-events":"none",
            "opacity": "0.1"
        });
        alertify.set('notifier','delay', 10000);




        alertify.warning('<span style = "color:white!important;font-weight:bold;font-size:17px;">You wrote over 102 messages. Save the rest for the next part of the story </span><i style = "margin-left:10px;color:white !important; font-size:17px;" class="fa fa-frown-o" aria-hidden="true"></i>');


    }

    $("#new_message").keypress(function(e){
          if(e.keyCode == 13) {
              e.preventDefault();
              if ($(this).submit()){
                  $('#new_message').find('input:text').val('');
              }
          }
      });


    console.log($(".message-container").children().slice(-1)[0].className += " bounceIn");

    $(".view-btn").click(function(){
        window.location.href = "/stories/<%= @story.id %>/view"
    })

    $(".number").html(all);






</script>

<% else %>
  <script>




    window.location.href = "/";
  </script>
<% end %>