<% content_for :title, "#{@story.title} - TellAFiction" %>


<style>
  body{
    font-family: "Helvetica Neue";
    font-weight: normal;
    overflow-x: hidden;
    background-size: 100% 100%;
  }

    .bg {
      width:100%;
      height:100%;
      position: fixed;
      top:0;
      left:0;
      <% if @story.image? %>
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.65) 100%), url(<%= @story.image.url(:large) %>) no-repeat center center;
      <% end %>

      background-size: cover;
    }

    <% if @story.image? %>
    .story-name {
      color:white !important;
    }
    .latt{
      color:white !important;
    }
    .nav-item, .category-go, .category-go1, .category-go2, .category-go3, .tele{
      color:white !important;
    }
    .category-go3 > span {
      color:white !important;
    }
  <% end %>

  .scarypopup{
    position: fixed;
    top:0;
    left:0;
    width: 0%;
    height:0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 999999999999999999999999999;
    animation: popup 400ms ease-in-out 5;
  }

  @keyframes popup {
    0%{
      width:100%;
      height:100%;
    }
    100%{
      width:100%;
      height:100%;
    }
  }

  .popup-img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body,html{
      cursor:pointer !important;
    }
  }



    .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px;
  }
  .site-footer {
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }

    nav{
      background:rgba(255,255,255,0.2) !important;
      border:none !important;
    }

    .latt{
      font-family:lato;
      font-weight: lighter !important;
    }

    .up-next{

    }

  .sign-up-message2{
    position: fixed;
    top: 31%;
    right: 0;
    left: 50%;
    margin-left: -200px;
    width:400px;
    height:300px;
    background-position: -100px -100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    border-radius:.3em;
    overflow: hidden;

  }



  .sign-up-message2::before {
    border-bottom: 29px solid #ff73b3;
    border-right: 29px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0px;
    right: -15px;
    content: "";
  }

  .div-overlay > h5{
    color:white;
    font-size: 25px;
    margin-top:70px;
    line-height:40px;
    width:80%;
    margin-left:10%;
    text-align: center;
    font-weight:300;


  }

  .fa-times-circle{
    position: absolute;
    top:10px;
    left:85%;

  }

  .sin-up{
    background: #02b875;
    color:white;
    border-radius:.4em;
    width:0px;
    transform:translateY(-40px) !important;
    font-size:34px;
    text-align: center;
  }


  .five {
    overflow: hidden;
    color: white;
    position: relative;
    width:200px;
    height:50px;
    background:#02b875;
    border-radius: .3em;
    border:none;
    margin: 0 auto;
    margin-top:10px;
  }
  .five .layer {
    color: #fff;
    position: absolute;
    top: -70px;
    width: 100%;
    left: 0;
    padding: 20px 0;
    background-color: #F44336;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }
  .five:hover .layer {
    top: 0;
  }

    .div-overlay{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.4);
    }

    .choices {
      height:100% !important;
      width:100%;
      left:0;
      top:0;
      position: fixed;
      overflow: hidden;
      z-index: 9999999999999999999999999999999999999999
    }


  .cc-overlay > h1 {
    color:white !important;
    font-size: 40px;
    text-align: center;
    margin-top:100px;
  }

    .choice-img1 {
      width:50%;
      float: left;
      height:auto;
    }
    .choice-img2{
      width:50%;
      float: left;
      height:auto;
    }

    .choice-overlay{

    }

    .choice-overlay-img1{
      position: absolute;
      top:0;
      left:0;
      width:50%;
      height:100%;
      background:black;
    }

    .choice-overlay-img2{
      position: absolute;
      top:0;
      left:50%;
      width:50%;
      height:100%;
      background:grey;
    }

    .choice-imgimg{
      position: fixed;
      top:0px;
      left:0;
      width:100%;
      height:100%;
      z-index:9999999999999999999999999999999999999999999999999999999
    }

    .cc-overlay{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.4);
    }

    .ending-image-over {
      position: fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index: 99999999999999999;
    }

    .ending-overlay{
      position: fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.5);
      z-index: 9999999999999999999999;

    }



</style>


<div class="clicker" style="position: fixed;top:0;left:0;width:100%;height:100%;z-index:99;"></div>

<div style="" class="bg">

</div>
<div class="video-bg">
  <% if @story.video? %>
      <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
        <source src="<%= @story.video %>" type="video/mp4">
      </video>
  <% end %>
</div>
<div class = "scroller">
<% @messages.each_with_index do |message, i| %>
      <div class="audio-popup">
      <% if message.mp3.present? %>
          <audio  class="audio d<%= i %>">
            <source  src="<%=  message.mp3 %>" type="audio/ogg">
            <source  src="<%=  message.mp3 %>" type="audio/mpeg">
            <source  src="<%=  message.mp3 %>" type="audio/mpeg">
          </audio>
          <% end %>
      </div>
      <% if message.popup.present? %>
      <div class="scarypopup popup<%= i %> animated">
        <%= image_tag message.popup.url(:large), class: 'popup-img' %>
      </div>
          <% end %>
<div class="message-container">
<% if message.message1? || message.image? %>
  <div style="margin-top:5px;"  class="animated from-them message1 texter<%= i %>">
    <p class="message-big" style="font-size:25px;margin-top:18px;line-height: 50px;word-break: break-all;font-family: 'lato',sans-serif;"><span><strong><%= @story.texter %> <b style="color:grey !important; font-size:16px !important;"><% if message.image? %> Sent An Image! <i class="fa fa-camera" aria-hidden="true"></i> <% else %> <strong class="colin">:</strong> <% end %></b>   </strong></span><%= message.message1 %></p><br>
    <% if message.image? %>
      <%= image_tag message.image.url(:medium) %>
    <% end %>
  </div>
<% end %>

  <div class="ending ending<%= i %>">

    <% if message.ending_image.present? %>
      <%= image_tag message.ending_image.url(:large), class: 'ending-image-over' %>
    <% end %>


    <% if message.ending_audio.present? %>
        <audio class="ending-audio<%= i %>" style="margin-left:20px !important;" controls>
          <source src="<%=  message.ending_audio %>" type="audio/ogg">
          <source src="<%=  message.ending_audio  %>" type="audio/mpeg">
          <source src="<%=  message.ending_audio %>" type="audio/mpeg">
        </audio>
    <% end %>

      <% if message.ending.present? %>
          <h1 class="animated zoomInDown" style="color:white;font-size:60px;margin-top:100px; text-align: center; position: fixed; top:50px;left:10%; z-index: 9999999999999999999999999999999999999999999999999;"><span style="background:black;"><%= message.ending %></span></h1>
          <a style="color:white;font-size:60px;margin-top:100px; text-align: center; position: fixed; top:65%;left:40%; z-index: 9999999999999999999999999999999999999999999999999;" href = "/stories/<%= Story.order("RANDOM()").first.id %>/view">Next Story</a>
    <% end %>
  </div>

  <% if message.first_choice.present? && message.second_choice.present? %>
  <div class="choices choices<%= i %> animated">

    <h1 class="good-choice animated " style="color:white; font-size:70px;position: absolute;top:40%;left:35%;background:black;z-index:99999999999999999999999999999">Good Choice</h1>
  <div style="
      <% if message.choice_img1.present? %>
  background:url(<%= message.choice_img1.url(:large) %>) center center no-repeat;
      <% end %>
          background-size: cover; " class="choice-overlay-img1 first<%= i %><% if message.is_correct? %> thecorrectmessage <% end %>">
    <div class="cc-overlay">
      <h1><%= message.first_choice %></h1>
    </div>

  </div>

    <div style="
    <% if message.choice_img2.present? %>

        background:url(<%= message.choice_img2.url(:large) %>) center center no-repeat;
        <% end %>
        background-size: cover;  " class="choice-overlay-img2 second<%= i %><% if message.is_correct2? %> thecorrectmessage <% end %>">
      <div class="cc-overlay">
        <h1><%= message.second_choice %></h1>
      </div>


    </div>


    <%= image_tag message.choice_img1.url(:large) , class: 'choice-img1' %>
    <%= image_tag message.choice_img2.url(:large), class: 'choice-img2' %>
  </div>

      <% end %>

  <% if message.is_correct %>
      <div style="background: url(<%= message.choice_popup.url(:medium) %>) center center no-repeat; background-size: cover;" class="choice-imgimg endpopup<%= i %>">
        <h1 class="animated choice-imgimg-h1" style="text-align: center; color:white !important; font-size:70px;  margin-top:100px;"><span style="background:black;"><%= message.end_message %></span></h1>
      </div>
  <% end %>

  <% if message.is_correct2 %>
      <div style="background: url(<%= message.choice_popup.url(:medium) %>) center center no-repeat; background-size: cover;" class="choice-imgimg endpopup<%= i %>">
        <h1 class="animated choice-imgimg-h1" style="text-align: center; color:white !important; font-size:70px;  margin-top:100px;"><span style="background:black;"><%= message.end_message %></span></h1>
      </div>
  <% end %>

<div class="clear"></div>

<% if message.message2? || message.image2? %>
<div  style="margin-top:5px;" class="animated from-me message2 texter<%= i %> reciever<%= i %> ">
  <p class="message-big" style="font-size:25px; margin-top:18px;line-height: 50px; word-break: break-all;font-family: 'lato',sans-serif;"><span><strong><%= @story.reciever %> <b style="white !important; font-size:16px !important;"><% if message.image2? %> Sent An Image! <i class="fa fa-camera" aria-hidden="true"></i> <% else %> <strong class="colin">:</strong> <% end %></b>   </strong></span><%= message.message2 %></p><br>
  <% if message.image2? %>
      <%= image_tag message.image2.url(:medium) %>
  <% end %>
</div>
<% end %>

</div>
<div class="clear"></div>
      <% if message.popup_audio.present? %>
           <audio class="wrong<%= i %>" class="">
          <source  src="<%=  message.popup_audio %>" type="audio/ogg">
          <source  src="<%=  message.popup_audio %>" type="audio/mpeg">
          <source  src="<%=  message.popup_audio %>" type="audio/mpeg">
          </audio>

          <% end %>


</section>
      </div>

<% end %>



 
<script>

  $(".audio-popup").hide();
  $(".scarypopup").hide();
  $(".message1").hide();
  $(".message2").hide();
  $(".upnextbtn").hide();
  $(".choice-imgimg").hide();
  $(".mmm").hide();
  $(".choices").hide();
  $(".sign-up-message2").hide();
  $(".good-choice").hide();
  $(".ending").hide();
  $(".ending-overlay").hide();

  function showImage(){
      $(".choice-img").show();
  }


  var all = document.getElementsByClassName("from-them").length + document.getElementsByClassName("from-me").length;
  var i = 1;
  var scrolled=0;
  $(".texter0").show();
  $(".d0").trigger('play');

  $(".fa-times-circle").click(function(){
      $(".sign-up-message2").addClass("zoomOut");
  });



  $(".clicker").click(function(){
      $(".texter" + i).fadeIn("slow").addClass("fadeIn");
      $(".reciever" + i).fadeIn("slow").addClass("fadeIn");
      $(".popup" + i).show();
      $(".d" + i).trigger('play');
      $(".choices" + i).show().addClass("zoomIn");
      $(".ending" + i).show();
       $(".ending-audio" + i).trigger("play");






      console.log(i);

      $(".first" + i).click(function(){
          console.log(i - 1);
          if($(".first" + (i - 1)).hasClass("thecorrectmessage")){

              $(".good-choice").fadeIn("slow");

              setTimeout(function(){
                  $(".choices").fadeOut("slow");
                  $(".good-choice").hide().removeClass("zoomInDown");
              },1000);
          } else {
              $(".endpopup" + (i - 1)).show();
              $(".choice-imgimg-h1").addClass("zoomInDown")
              $(".wrong" + (i - 1)).trigger("play");


              setTimeout(function(){
                  window.location.href = "/stories/<%= @story.id %>/view"
              },2300)
          }
      });

      $(".second" + i).click(function(){
          if($(".second" + (i - 1)).hasClass("thecorrectmessage")){

              $(".good-choice").fadeIn("slow");

              setTimeout(function(){
                  $(".choices").fadeOut("slow");
                  $(".good-choice").hide().removeClass("zoomInDown");

              },1000);
          } else {

              $(".endpopup" + (i - 1)).show();
              $(".choice-imgimg-h1").addClass("zoomInDown")

              $(".wrong" + (i-1)).trigger("play");

              setTimeout(function(){
                  window.location.href = "/stories/<%= @story.id %>/view"
              },2300)
          }
      });

      if(i > all - 1){
          $(".sign-up-message2").show().addClass("pulse");
      }

      if(i > all + 1){
          $(".upnextbtn").fadeIn().addClass("bounceIn");
      }

      console.log($(".message-container").children().length);

      scrolled=scrolled+300;

      $("body").animate({
          scrollTop:  scrolled
      });

      i++;
  });

  alertify.set('notifier','delay', 1.5);

  alertify.warning('<span style = "color:black!important;font-weight:bold;font-size:17px;">Click to see the next text message</span>');

  $(".li-name").show();

  $(".story-name").html(" <%= truncate(@story.title,:length => 30) %>  <span class='latt' style='color:grey; font-style:italic;'> <% if @story.ispublished %> <%= pluralize(@story.impressionist_count, "view") %> </span> <% end  %>");


  $(".texter0").css("margin-top","100px");
  $(".reciever0").css("margin-top","100px");


  $(document).ready(function(){

      /** ===========================================
       Hide / show the master navigation menu
       ============================================ */

          // console.log('Window Height is: ' + $(window).height());
          // console.log('Document Height is: ' + $(document).height());

      var previousScroll = 0;

      $(window).scroll(function(){

          var currentScroll = $(this).scrollTop();

        /*
         If the current scroll position is greater than 0 (the top) AND the current scroll position is less than the document height minus the window height (the bottom) run the navigation if/else statement.
         */
          if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()){
            /*
             If the current scroll is greater than the previous scroll (i.e we're scrolling down the page), hide the nav.
             */
              if (currentScroll > previousScroll){
                  window.setTimeout(hideNav, 300);
                /*
                 Else we are scrolling up (i.e the previous scroll is greater than the current scroll), so show the nav.
                 */
              } else {
                  window.setTimeout(showNav, 300);
              }
            /*
             Set the previous scroll value equal to the current scroll.
             */
              previousScroll = currentScroll;
          }

      });

      function hideNav() {
          $("[data-nav-status='toggle']").removeClass("is-visible").addClass("is-hidden");
      }
      function showNav() {
          $("[data-nav-status='toggle']").removeClass("is-hidden").addClass("is-visible");
      }

  });


</script>


<script>
   $(window).click(function(){
       window.scrollTo(0,document.body.scrollHeight);
   })
</script>






