<% content_for :title, "#{@story.title} - TellAFiction" %>


<style>
  body{
    font-family: "Helvetica Neue";
    font-weight: normal;
    overflow-x: hidden;
    background-size: 100% 100%;
  }

    .bg {
      width:100%;
      height:100%;
      position: fixed;
      top:0;
      left:0;
      <% if @story.image? %>
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 9%, rgba(0, 0, 0, 0.65) 100%), url(<%= @story.image.url(:large) %>) no-repeat center center;
      <% end %>

      background-size: 100% 100%;
    }

    <% if @story.image? %>
    .story-name {
      color:white !important;
    }
    .latt{
      color:white !important;
    }
    .nav-item, .category-go, .category-go1, .category-go2, .category-go3, .tele{
      color:white !important;
    }
    .category-go3 > span {
      color:white !important;
    }
  <% end %>

  .scarypopup{
    position: fixed;
    top:0;
    left:0;
    width: 0%;
    height:0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 999999999999999999999999999;
    animation: popup 400ms ease-in-out 5;
  }

  @keyframes popup {
    0%{
      width:100%;
      height:100%;
    }
    100%{
      width:100%;
      height:100%;
    }
  }

  .popup-img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body,html{
      cursor:pointer !important;
    }
  }



    .site-footer, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px;
  }
  .site-footer {
  }

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }

    nav{
      background:rgba(255,255,255,0.2) !important;
      border:none !important;
    }

    .latt{
      font-family:lato;
      font-weight: lighter !important;
    }



</style>

<div class="bg">

</div>
<div class="video-bg">
  <% if @story.video? %>
      <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
        <source src="<%= @story.video %>" type="video/mp4">
      </video>
  <% end %>
</div>
<div class = "scroller">
<% @messages.each_with_index do |message, i| %>
      <div class="audio-popup">
      <% if message.mp3.present? %>
          <audio  class="audio d<%= i %>">
            <source  src="<%=  message.mp3 %>" type="audio/ogg">
            <source  src="<%=  message.mp3 %>" type="audio/mpeg">
            <source  src="<%=  message.mp3 %>" type="audio/mpeg">
          </audio>
          <% end %>
      </div>
      <% if message.popup.present? %>
      <div class="scarypopup popup<%= i %>">
        <%= image_tag message.popup.url(:large), class: 'popup-img' %>
      </div>
          <% end %>
<div class="message-container">
<% if message.message1? || message.image? %>
  <div style="margin-top:5px;"  class="animated from-them message1 texter<%= i %>">
    <p class="message-big" style="font-size:25px;margin-top:18px;line-height: 50px;word-break: break-all;font-family: 'lato',sans-serif;"><span><strong><%= @story.texter %> <b style="color:grey !important; font-size:16px !important;"><% if message.image? %> Sent An Image! <i class="fa fa-camera" aria-hidden="true"></i> <% else %> <strong>:</strong> <% end %></b>   </strong></span><%= message.message1 %></p><br>
    <% if message.image? %>
      <%= image_tag message.image.url(:medium) %>
    <% end %>
  </div>
<% end %>

<div class="clear"></div>

<% if message.message2? || message.image2? %>
<div  style="margin-top:5px;" class="animated from-me message2 texter<%= i %> reciever<%= i %> ">
  <p class="message-big" style="font-size:25px; margin-top:18px;line-height: 50px; word-break: break-all;font-family: 'lato',sans-serif;"><span><strong><%= @story.reciever %> <b style="white !important; font-size:16px !important;"><% if message.image2? %> Sent An Image! <i class="fa fa-camera" aria-hidden="true"></i> <% else %> <strong>:</strong> <% end %></b>   </strong></span><%= message.message2 %></p><br>
  <% if message.image2? %>
      <%= image_tag message.image2.url(:medium) %>
  <% end %>
</div>
<% end %>

</div>
<div class="clear"></div>



</section>
      </div>

<% end %>




<script>

  $(".audio-popup").hide();
  $(".scarypopup").hide();
  $(".message1").hide();
  $(".message2").hide();
  $(".upnextbtn").hide();
  $(".mmm").hide();

  function showImage(){
      $(".choice-img").show();
  }


  console.log($(".message1-container").children());
  console.log($(".message2-container").children());
  var all = document.getElementsByClassName("from-them").length + document.getElementsByClassName("from-me").length;
  var i = 1;
  var scrolled=0;
  $(".texter0").show();
  $(".d0").trigger('play');



  $(document).click(function(){
      $(".texter" + i).fadeIn("slow").addClass("fadeIn");
      $(".reciever" + i).fadeIn("slow").addClass("fadeIn");
      $(".popup" + i).show();
      $(".d" + i).trigger('play');

      console.log(i);

      if(i >= all){
          $(".upnextbtn").fadeIn().addClass("bounceIn");
      }

      console.log($(".message-container").children().length);

      scrolled=scrolled+300;

      $("body").animate({
          scrollTop:  scrolled
      });

      i++;
  });

  alertify.set('notifier','delay', 1.5);

  alertify.warning('<span style = "color:black!important;font-weight:bold;font-size:17px;">Click to see the next text message</span>');

  $(".li-name").show();

  $(".story-name").html(" <%= truncate(@story.title,:length => 30) %>  <span class='latt' style='color:grey; font-style:italic;'> <% if @story.ispublished %> <%= pluralize(@story.impressionist_count, "view") %> </span> <% end  %>");


  $(".texter0").css("margin-top","100px");
  $(".reciever0").css("margin-top","100px");


  $(document).ready(function(){

      /** ===========================================
       Hide / show the master navigation menu
       ============================================ */

          // console.log('Window Height is: ' + $(window).height());
          // console.log('Document Height is: ' + $(document).height());

      var previousScroll = 0;

      $(window).scroll(function(){

          var currentScroll = $(this).scrollTop();

        /*
         If the current scroll position is greater than 0 (the top) AND the current scroll position is less than the document height minus the window height (the bottom) run the navigation if/else statement.
         */
          if (currentScroll > 0 && currentScroll < $(document).height() - $(window).height()){
            /*
             If the current scroll is greater than the previous scroll (i.e we're scrolling down the page), hide the nav.
             */
              if (currentScroll > previousScroll){
                  window.setTimeout(hideNav, 300);
                /*
                 Else we are scrolling up (i.e the previous scroll is greater than the current scroll), so show the nav.
                 */
              } else {
                  window.setTimeout(showNav, 300);
              }
            /*
             Set the previous scroll value equal to the current scroll.
             */
              previousScroll = currentScroll;
          }

      });

      function hideNav() {
          $("[data-nav-status='toggle']").removeClass("is-visible").addClass("is-hidden");
      }
      function showNav() {
          $("[data-nav-status='toggle']").removeClass("is-hidden").addClass("is-visible");
      }

  });







</script>

