<% content_for :title, "TellAFiction - Revolutionizing Entertainment Read, Watch, & Create Engaging Content " %>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">

<style>

  body {
    background: url(https://ae01.alicdn.com/kf/HTB1W98hKFXXXXa9XpXXq6xXFXXXe/Psychedelic-font-b-Trippy-b-font-font-b-Art-b-font-Watercolor-inkjet-Fabric-poster-40.jpg) center center no-repeat;
    background-size:cover;
  }


  h1 {
    text-align:center;
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    font-size:50px;
    font-weight: 900;
    margin-top:100px;

  }



  .form-fields{

    opacity: 0;
    transform: translateY(30px);
    animation: move-up 500ms ease-in-out forwards 1 300ms;
  }

  @keyframes move-up {
    0%{
      opacity: 0;
      transform: translateY(30px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  input {
    margin: 0 auto;
    display: block;
    width:350px;
    height:70px;
    background: white;
    color:black;
    border: none;
    border-radius: .2em;
    padding-left: 20px !important;


  }

  input[type="checkbox"]{
    display: block;
    margin: 0 auto;
  }
  label {
    text-align: center !important;
    display: block;
    margin: 0 auto;
  }

  button{
    width: 350px;
    height: 50px;
    background: #569eca;
    display: block;
    margin: 0 auto;
    border:none;
    color:white;
    font-weight: 900;
    margin-top:20px;
    margin-bottom: 60px;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    transform: translateX(0px) !important;
    font-size:13px !important;
  }

  .right-text {
    transform: translateY(10px) !important;
  }



  @media only screen and (max-width: 1200px) {


  }


  @media only screen and (max-width: 900px) {

  }


  @media only screen and (max-width: 600px){
    input {
      height: 10px !important;
    }

    #user_email {
      height: 50px !important;
    }
    #user_password {
      height: 50px !important;
    }
    .btn-btn {
      height: 50px !important;
      font-size:13px !important;
    }

    body {
      background:url(http://t.wallpaperweb.org/wallpaper/space/2048x1536/Aurora.jpg) center center no-repeat !important;
      background-size:cover !important;
    }
  }

  @media only screen and (max-width: 400px) {
    input {
      height: 10px !important;
    }

    #user_email {
      height: 50px !important;
    }
    #user_password {
      height: 50px !important;
    }
    .btn-btn {
      height: 50px !important;
      font-size:13px !important;
    }

    body {
      background:url(http://t.wallpaperweb.org/wallpaper/space/2048x1536/Aurora.jpg) center center no-repeat !important;
      background-size:cover !important;
    }
  }

  @media only screen and (max-width: 350px) {

    input {
      height: 10px !important;
    }

    #user_email {
      height: 50px !important;
    }
    #user_password {
      height: 50px !important;
    }
    .btn-btn {
      height: 50px !important;
      font-size:13px !important;
    }

    body {
      background:url(http://t.wallpaperweb.org/wallpaper/space/2048x1536/Aurora.jpg) center center no-repeat !important;
      background-size:cover !important;
    }
  }

</style>





<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="form-fields">
    <h1>STORYMI</h1>

    <%= f.email_field :email, autofocus: true, placeholder: "Enter Email" %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Enter Password" %>

    <%= f.button :submit ,  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Welcome Back !"}, class: "btn-btn" %>
    </div>

<% end %>


<%= render 'partials/footer' %>